<%= form_for(restaurante) do |f| %>
  <legend>Dados</legend>
  <% if restaurante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurante.errors.count, "error") %> prohibited this restaurante from being saved:</h2>

      <ul>
      <% restaurante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Mome do restaurante" %>
    <%= f.text_field :descricao %>
  </div>

  <div class="actions">
    <%= link_to "<i class='fa fa-reply'></i> Cancelar".html_safe, restaurantes_path, class: 'btn btn-danger'  %>
    <%= f.submit "Salvar", class: 'btn btn-success' %>
  </div>
<% end %>
