<p id="notice"><%= notice %></p>

<h1>Restaurantes</h1>

<form>
  <legend>Filtros</legend>
  <label>Nome</label>
  <input type="text" placeholder="">
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <%= link_to "<i class='fa fa-pencil'></i> Cadastrar novo Restaurante".html_safe, new_restaurante_path, class: "btn btn-success" %>
</form>
<br/>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Restaurantes</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= link_to 'Destroy', restaurante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Edit', edit_restaurante_path(restaurante) %></td>
        <td><%= restaurante.descricao %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


